# History files
.Rhistory

# DS Store
.DS_Store

# this weird file
Protocol/~$VIA_Analysis_Components.docx

#SAS files
Data/cohort_claim.sas7bdat
Data/cohort_enroll.sas7bdat
Data/cohort_enroll2.sas7bdat

#excel files
.xlsx


